APP_NAME="Dark Burger CRUD"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_PORT=8080
APP_HTTPS_PORT=8443

POSTGRES_DB=dark_burger
POSTGRES_USER=dark_burger
POSTGRES_PASSWORD=replace-with-a-local-password
POSTGRES_PORT=5432

REDIS_PORT=6379

MAIL_FROM_ADDRESS=admin@dark-burger.local
MAIL_FROM_NAME="Dark Burger CRUD"
MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025

LARAVEL_AUTO_MIGRATION=0
LARAVEL_AUTO_MIGRATION_OPTIONS=
LARAVEL_ENABLE_QUEUE_WORKER=0
LARAVEL_QUEUE_WORKER_OPTIONS=
LARAVEL_ENABLE_SCHEDULER=0
